title{
	color: blue;
	background color: white;
	font-family: 100%;
	margin: 2;
	text-transform: uppercase;
}
}

h1{
	color: black;
	background color: white;
	font-family: 100%;
	margin: 2;
	text-transform: lowercase;
}

h2{
	color: green;
	background color: white;
	font-family: 100%;
	margin: 2;
	text-transform: lowercase;
}


ul{
	color: red;
	background color: white;
	font-family: 100%;
	margin: 2;
	text-transform: lowercase;
}


ol{
	color: purple;
	background color: white;
	font-family: 100%;
	margin: 2;
	text-transform: lowercase;
}


p{
	color: orange;
	background color: white;
	font-family: 100%;
	margin: 2;
	text-transform: lowercase;
}
}